<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleGetInfoString</key>
        <string>Text Editor</string>
        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
        <key>CFBundleIdentifier</key>
        <string>org.thesuite.theSlate</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.11</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Plain Text Document</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>txt</string>
                    <string>cpp</string>
                    <string>h</string>
                    <string>hpp</string>
                    <string>c</string>
                    <string>json</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>@ICON@</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSTypeIsPackage</key>
                <false />
            </dict>
        </array>
</dict>
</plist>
