#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theSlate Blueprint
GenericName[]=Integrated Development Environment
Exec=theslate-blueprint %U
Icon=com.vicr123.theslate_blueprint
StartupWMClass=theSlate
